.carousel-item img {
    max-height: 70vh;
    object-fit: cover;
}

/* Hero */
.navbar {
    background-color: #ffffff90 !important;
}

#hero-container{
    background-color: var(--bg-color);
    height: 50%;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#hero-text {
    text-align: center;
    /* color: white; */
}

#hero-text.h1, .p{
    color: var(--font-color);
}

#hero-text p {
    font-size: x-large;
    margin-top: 1rem
}

#hero-text button {
    color: var(--font-color);
    font-size: large;
}

#carousel {
    opacity: .77;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

/* Main */

.keyclub {
    display: flex;
    align-items: center;
}

.keyclub-text {
    background-color: #D7EEFF;
    border-radius: 35px;
    color: #23487A;
    padding: 4% 7%;
    margin: 2% auto;
}

.keyclub-text h2 {
    margin-bottom: 2%;
}