  /* Fonts
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif; */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

  * {
      margin: 0;
      padding: 0;
  }

  body {
      --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
      --wp--preset--color--vivid-cyan-blue: #0693e3;
  }

  img {
      width: 100%;
  }

  html,
  body {
      height: 100%;
      width: 100%;
  }

  a {
      text-decoration: none;
  }

  /* Nav Bar */

  .navbar {
      display: flex;
      align-items: center;
      background-color: var(--wp--preset--color--vivid-cyan-blue);
      /* #0693e3; */
      /* #00aeef; */
  }

  .navbar ul {
      display: flex;

  }

  .navbar ul li {
      list-style: none;
      padding: 10 25;
  }

  .navbar ul li a {
      display: block;
      padding: 1em;
      color: white;
  }

  .navbar ul li a:hover {
      background-color: #009cd6;
  }

  .navbar img {
      margin: 15px 20px;
  }

  /* Main body */

  main {
      width: 100%;
      height: 100%;
      max-width: 900%;
      background-color: blueviolet;
      margin: 0px auto;
  }

  main h1 {
      text-align: center;
  }


  main p {
      margin: 10px 10%;
  }

  main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }


  /* Footer */

  footer {
      display: grid;
      place-items: center;
      grid-template-columns: auto 1fr auto;
      color: white;
      background-color: var(--wp--preset--color--vivid-cyan-blue);
  }

  footer nav,
  #social {
      margin: 2em;
      margin-left: 10em;
      margin-right: 10em;
  }

  footer li {
      list-style: none;
  }

  footer nav ul li {
      margin-top: .2em;
      font-size: 16px;
  }

  footer #social ul {
      display: flex;
      font-size: 1.5em;
  }

  .icon {
      margin-left: .5em;
      font-size: 1em;
  }

  .fa-envelope {
      color: white;
  }

  .fa-instagram {
      color: white
      /* #E1306C; */
  }

  .fa-discord {
      color: white;
      /* rgba(6, 147, 227, 1); */
  }